/.vs/MCPServer/CopilotIndices
/.vs/MCPServer/DesignTimeBuild
/.vs/MCPServer/FileContentIndex
/.vs/ProjectEvaluation
/bin/Debug
/bin/Release
/obj
/.vs/SlnQAAnalyzer/v17
/Properties/PublishProfiles
/.vs/SlnQAAnalyzer/copilot-chat
/.vs/SlnQAAnalyzer/CopilotIndices
/.vs/SlnQAAnalyzer/FileContentIndex
/.vs/SlnQAAnalyzer/DesignTimeBuild
